<xml>
  <Active>
    <ch1>
      0
    </ch1>
    <ch2>
      1
    </ch2>
    <ch3>
      0
    </ch3>
    <ch4>
      0
    </ch4> 
    <vsca2>
      500.E-3
    </vsca2>
    <hsamp>
      1.E-3
    </hsamp>
    <trslope>
      RISE
    </trslope>
    <pretrigger> 
      20
    </pretrigger>
    <trlevel>
      0.58
    </trlevel>
    <length>
      500
    </length>
    <amp1>
      -99
    </amp1>
    <amp2>
      -99
    </amp2>
    <amp3>
      -99
    </amp3>
    <amp4>
      -99
    </amp4>
    <trsrc>
      2
    </trsrc>
  </Active>
</xml>
